/IEMS5726_2025-26_ProjectInstructions.pdf
/IEMS5726_GroupXXReport.docx

.gitignore


# Python
__pycache__/
*.pyc

# Outputs
backend/app/outputs/*
!backend/app/outputs/.gitkeep

# Models
backend/models/
*.pth
*.pt

# VSCode
.vscode/

# Mac
.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/

# pictures
pictures/

# RLReport
RLCourse/

# DSReport
DSCourse/